#cal {
    width: 95%;
    height: 85vh;
    margin: 0 auto;
    border-collapse: collapse;
}
#cal-body {
    position: relative;
}
#cal-nav {
    width: 95%;
    margin: 0 auto;
    height: 5vh;
    line-height: 5vh;
}
.cal-nav-btn {
    border: 1px solid lightgray;
    background-color: transparent;
    padding: 3px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
}
.cal-nav-btn:hover {
    border-color: dimgray;
    color: dimgray;
}
#cal-nav-today {
    margin-left: 20px;
    padding: 3px 10px;
}
#cal-nav-month {
    display: inline;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 20px;
    text-align: center;
}
.day-from-other-month {
    background-color: aliceblue;
}
.day-from-this-month {
    position: relative;
}
.day-from-this-month:hover {
    background-color: aliceblue;
}
#today {
    border: 3px solid deepskyblue;
    vertical-align: top;
    color: lightslategray;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: aliceblue;
}
.cal-body-day {
    width: 13.57%;
    border: 1px solid lightgray;
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: top;
    text-align: left;
    color: lightslategray;
    font-size: 14px;
    font-weight: 500;
}
.calendar-header {
    height: 10vh;
    background-color: lightgrey;
    opacity: .6;
}
.header-container {
    width: 95%;
    margin: 0 auto;
    padding-top: 5vh;
}
.clearfix:after {
    display: block;
    content: '';
    clear: both;
}
#btnAdd,
#btnRefresh {
    float: left;
    width: 80px;
    margin-right: 15px;
    padding: 5px;
    background-color: skyblue;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
}
#searchField,
#searchIcon {
    float: right;
    height: 28px;
}
#searchIcon {
    width: 28px;
    background-image: url("../img/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}
#searchField {
    width: 200px;
    padding: 0 5px;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 10px grey;
}
.week-day {
    color: lightgray;
    font-size: 16px;
}
.day-selected {
    background-color: deepskyblue;
}
.popupEvent--left {
    position: absolute;
    top: 20px;
    left: 105%;
    width: 230px;
    height: 280px;
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px grey;
}
.popupEvent--left-top {
    position: absolute;
    bottom: 50%;
    left: 105%;
    width: 230px;
    height: 280px;
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px grey;
}
.popupEvent--right {
    position: absolute;
    top: 20px;
    right: 105%;
    width: 230px;
    height: 280px;
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px grey;
}
.popupEvent--right-top {
    position: absolute;
    bottom: 50%;
    right: 105%;
    width: 230px;
    height: 280px;
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px grey;
}
.blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0%;
    background-color: lightskyblue;
    opacity: .3;
}