#cal {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
#cal-nav {
    width: 90%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}
.cal-nav-btn {
    border: 1px solid lightgray;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}
.cal-nav-btn:hover {
    border-color: deepskyblue;
    color: deepskyblue;
}
#cal-nav-today {
    margin-left: 20px;
}
#cal-nav-month {
    display: inline-block;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 15px;
    text-align: center;
}
.day-from-other-month {
    background-color: aliceblue;
}
.day-from-this-month {
    position: relative;
}
.day-from-this-month:hover {
    background-color: lightskyblue;
}
#today {
    border: 3px solid deepskyblue;
    vertical-align: top;
    color: blue;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: lightblue;
}
.cal-body-day {
    width: 40px;
    height: 80px;
    border: 2px solid lightgray;
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: top;
    text-align: left;
    color: lightslategray;
    font-size: 18px;
    font-weight: 600;
}
.calendar-header {
    background-color: lightgrey;
    padding-bottom: 20px;
    padding-top: 80px;
}
.header-container {
    width: 90%;
    margin: 0 auto;
}
.clearfix:after {
    display: block;
    content: '';
    clear: both;
}
#btnAdd,
#btnRefresh {
    float: left;
    width: 80px;
    margin-right: 30px;
    padding: 5px;
    background-color: deepskyblue;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
}
#searchField,
#searchIcon {
    float: right;
    height: 28px;
}
#searchIcon {
    width: 28px;
    background-image: url("../img/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}
#searchField {
    width: 200px;
}
.week-day {
    color: deepskyblue;
    font-size: 22px;
}
.popupEvent--left {
    position: absolute;
    top: 20px;
    left: 105%;
    width: 230px;
    height: 280px;
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px grey;
}
.popupEvent--left-top {
    position: absolute;
    bottom: 50%;
    left: 105%;
    width: 230px;
    height: 280px;
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px grey;
}
.popupEvent--right {
    position: absolute;
    top: 20px;
    right: 105%;
    width: 230px;
    height: 280px;
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px grey;
}
.popupEvent--right-top {
    position: absolute;
    bottom: 50%;
    right: 105%;
    width: 230px;
    height: 280px;
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px grey;
}